<div class="container">
    <h3>Đăng ký tài khoản</h3>
    <form #formDangKy="ngForm" (ngSubmit)="DangKy(formDangKy.value)">
      <div class="form-group">
        <span>Tài khoản</span>
        <!-- co ngModel thi ele html do phai co name -->
        <input class="form-control" #taiKhoan="ngModel" name="taiKhoan" [(ngModel)]="defaultValue.taiKhoan" required maxlength="12"/>
        <!-- dirty: input co du lieu hay ko -->
        <!-- touched: input co duoc cham vao hay khong -->
        <!-- formDangKy.controls['taiKhoan'].touched va formDangKy.controls['taiKhoan'].dirty bi loi nen chuyen qua taiKhoan.touched/dirty -->
        <div class="alert alert-danger" *ngIf="(taiKhoan.touched || taiKhoan.dirty) && taiKhoan.errors">
          <!-- Loi co rat nhieu loi -->
          <!-- Bat loi rong -->
          <span class="text text-danger" *ngIf="taiKhoan.errors.required">
            Tai khoan nay khong duoc rong!
          </span>
          <span class="text text-danger" *ngIf="taiKhoan.errors.maxlength">
            Tai khoan khong duoc vuot qua 12 ky tu!
          </span>
        </div>
      </div>
      <div class="form-group">
        <span>Mật khẩu</span>
        <input type="password" #password="ngModel" class="form-control" name="matKhau" [(ngModel)]="defaultValue.matKhau" required minlength="3" maxlength="2"/>
        <div class="alert alert-danger" *ngIf="(password.touched || password.dirty) && password.errors">
          <!-- Loi co rat nhieu loi -->
          <!-- Bat loi rong -->
          <span class="text text-danger" *ngIf="password.errors.required">
            Password nay khong duoc rong!
          </span>
        </div>

      </div>
      <div class="form-group">
        <span>Email</span>
        <input class="form-control" name="email" [(ngModel)]="defaultValue.email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        />
        <div class="alert alert-danger" *ngIf="(email.touched || email.dirty) && email.errors">
          <!-- Loi co rat nhieu loi -->
          <!-- Bat loi rong -->
          <span class="text text-danger" *ngIf="email.errors.pattern">
            Email sai dinh dang!
          </span>
        </div>
      </div>
      <div class="form-group">
        <span>Họ tên</span>
        <input class="form-control" #hoTen="ngModel" name="hoTen" ngModel/>
      </div>
      <div class="form-group">
        <span>Số điện thoại</span>
        <input class="form-control" #soDt="ngModel" name="soDienThoai" ngModel/>
      </div>
      <button type="submit" class="btn btn-success">Đăng
        ký</button>
    </form>
    {{defaultValue.taiKhoan}}
  </div>