<div class="card text-left">
  <img class="card-img-top" [src]="phim.hinhAnh" alt="">
  <div class="card-body">
    <h4 class="card-title">{{ phim.tenPhim }}</h4>
    <p class="card-text">{{ phim.gia }}</p>
    <button class="btn btn-success" (click) = "like()">Like</button>
  </div>
</div>