<!-- <p>interaction works!</p> -->
<app-danh-sach-phim></app-danh-sach-phim>

<!-- <div class="container">
    <h3 style="color: red">Them Phim</h3>
    <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <label for="">Ma phim</label>
        <input type="text" class="form-control" #maPhim/>
      </div>
      <div class="form-group">
        <label for="">Ten phim</label>
        <input type="text" class="form-control" #tenPhim/>
      </div>
      <div class="form-group">
        <label for="">Gia phim</label>
        <input type="text" class="form-control" #giaPhim/>
      </div>
      <div class="form-group">
        <label for="">Anh dai dien</label>
        <input type="text" class="form-control" #anhPhim/>
      </div>
      <button class="btn btn-success" (click)="addMovie(maPhim.value, tenPhim.value, giaPhim.value, anhPhim.value)">Them phim</button>
    </div> -->
    <!-- <table class="table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Ma</th>
                <th>Ten</th>
                <th>Gia</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf = "danhSachSanPham && danhSachSanPham.length > 0">
                <tr *ngFor = "let sanPham of danhSachSanPham; let stt = index" [ngClass] = "{bg: stt % 2 === 0}">
                    <td>{{stt + 1}}</td>
                    <td>{{sanPham.maSP}}</td>
                    <td>{{sanPham.tenSP}}</td>
                    <td>{{sanPham.gia}}</td>
                </tr>
            </ng-container>
        </tbody>
    </table> -->
  <!-- </div>
</div> -->