.example-card {
  max-width: 400px;
  margin: 0 auto;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
/*# sourceMappingURL=card-fancy-example.component.css.map */