
    <!-- <app-demo></app-demo> -->
<!-- 
    <style>
        *{
            color: white;
            font-weight: bold;
            font-size: 1.2em;
        }
    </style>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 px-0">
                <app-header></app-header>
            </div>
        </div>
        <div class="row">
            <div class="col-9 px-0">
                <app-contents></app-contents>
            </div>
            <div class="col-3 px-0 my-0">
                <app-sidebar></app-sidebar>
            </div>
        </div>
        <div class="row">
            <div class="col-12 px-0">
                <app-footer></app-footer>
            </div>
        </div>
    </div> -->
    
    <!-- <app-client></app-client>
    <app-admin></app-admin> -->
    
    <!-- <app-data-binding></app-data-binding> -->
    <!-- <app-directive></app-directive> -->
    <!-- <app-interaction></app-interaction> -->
    <!-- <app-card-fancy-example></app-card-fancy-example> -->

<router-outlet></router-outlet>