<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="">Navbar</a>
    
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item ">
              <a class="nav-link" routerLink="/danh-sach-phim">Danh sach phim</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/dang-ky">Dang ky</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/dang-nhap">Dang nhap</a>
            </li>
          </ul>
    </div>
  </nav>