<div class="container">
    <form [formGroup]="formDangNhap" (ngSubmit)="DangNhap()">
      <div class="form-group">
        <span>Tài Khoản</span>
        <!-- co ngModel thi ele html do phai co name -->
        <input class="form-control" type="text" formControlName="TaiKhoan"/>
        <div *ngIf="formDangNhap.get('TaiKhoan').invalid &&formDangNhap.get('TaiKhoan').touched">
            <div class="alert alert-danger" *ngIf="formDangNhap.controls['TaiKhoan'].errors['required']">
                Vui long nhap tai khoan
            </div>
            <div class="alert alert-danger" *ngIf="formDangNhap.controls['TaiKhoan'].errors['maxlength']">
                Tai khoan khong duoc qua 12 ky tu
            </div>
        </div>
      </div>
      <div class="form-group">
        <span>Mat Khau</span>
        <!-- co ngModel thi ele html do phai co name -->
        <input class="form-control" type="password" formControlName="MatKhau"/>
      </div>
      <button type="submit" class="btn btn-success">Đăng
        Nhap</button>
    </form>
  </div>