<!-- <h3 style="color: red;">*ngFor</h3>

<ng-container *ngFor="let item of danhSachNhanVien; let stt = index">
    <div *ngIf="item.tuoi === '18'">
        {{stt + 1}} . {{item.ten}} - {{item.tuoi}}
    </div>
</ng-container> -->

<!-- <div *ngFor="let item of danhSachNhanVien; let stt = index">
    <div *ngIf="item.tuoi === '18'">
        {{stt + 1}} . {{item.ten}} - {{item.tuoi}}
    </div>
</div> -->

<h3 style="color: red">Bai tap ng-for</h3>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <label for="">Ma sap pham</label>
        <input type="text" class="form-control" #maSP/>
      </div>
      <div class="form-group">
        <label for="">Ten san pham</label>
        <input type="text" class="form-control" #tenSP/>
      </div>
      <div class="form-group">
        <label for="">Gia sap pham</label>
        <input type="text" class="form-control" #gia/>
      </div>
      <button class="btn btn-success" (click)="themSanPham(maSP.value, tenSP.value, gia.value)">Them san pham</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>STT</th>
                <th>Ma</th>
                <th>Ten</th>
                <th>Gia</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf = "danhSachSanPham && danhSachSanPham.length > 0">
                <tr *ngFor = "let sanPham of danhSachSanPham; let stt = index" [ngClass] = "{bg: stt % 2 === 0}">
                    <td>{{stt + 1}}</td>
                    <td>{{sanPham.maSP}}</td>
                    <td>{{sanPham.tenSP}}</td>
                    <td>{{sanPham.gia}}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
  </div>
</div>