<div class="container">
    <div class="row">
        <div class="col-sm-3" *ngFor="let item of danhSachPhim">
            <!-- lay item tu danhSachPhim gan vao bien phim, truyen theo dang input -->
            <app-item-phim [phim]="item" (eventPhim) = "thich($event)"></app-item-phim>
        </div>
        <button class="btn btn-success m-3" (click)="viewChildren()">ViewChildren</button>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3>Danh sach like</h3>
            <p *ngFor = "let item of danhSachPhim">
                {{ item.tenPhim }} - {{ item.soLike }}
            </p>
        </div>
    </div>
</div>