<div class="card text-left">
  <img class="card-img-top" [src]="phim.hinhAnh" alt="">
  <div class="card-body">
    <h4 class="card-title">{{ phim.tenPhim }}</h4>
    <p class="card-text">{{ phim.gia }}</p>
    <button class="btn btn-success" (click) = "like()">Like</button>
    <a class="btn btn-primary" routerLink="/chi-tiet/{{phim.maPhim}}">Chi tiet</a>
    <a class="btn btn-success" routerLink="/chi-tiet" [queryParams]="{ tenPhim: phim.tenPhim, idPhim: phim.maPhim }">Params</a>

  </div>
</div>