<h3 style="color: red;">*ngIf</h3>
<div *ngIf="status; else NoiDungElse">Cybersoft</div>

<ng-template #NoiDungElse>
    <p>Noi dung else</p>
</ng-template>
 
<div *ngIf = "statusLogin; else ndElse">
    <button class="btn btn-danger" (click)="dangXuat()">Dang xuat</button>
    <p>Xin chao!</p>
</div>

<ng-template #ndElse>
    <button class="btn - btn-success" (click)="dangNhap()">Dang nhap</button>
    <p>Chua dang nhap</p>
</ng-template>